body {
    font-family: Arial, Helvetica, sans-serif;
    width: 550px;
}

button {
    width: 100px;
    outline: none;
}

#timeTable {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    color: #3a3a3a;
    padding: 2px;
}

.table-header {
    font-weight: bold;
    background: #b3ecff;
}

#timeTable td {
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    font-weight: bolder;
    cursor: pointer;
}

#timeTable td {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    box-sizing: border-box;
}

#timeTable td:first-child {
    width: 30px;
}

#timeTable td:nth-child(2) {
    width: 200px;
}

#timeTable td:nth-child(3) {
    width: 110px;
}

#timeTable td:nth-child(4) {
    width: 60px;
}

#timeTable td:last-child {
    width: 120px;
}

.icon {
    height: 17px;
    width: 17px;
    margin-left: 3px;
    margin-right: 0px;
}

.clear {
    clear: both;
}

#btnClear {
    background: #3477db;
    color: #fff;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    display: block;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    min-width: 80px;
    text-align: center;
    width: 200px;
    margin-top: 10px;
}

#btnClear:hover {
    background: #566f9d;
    color: #fff;
}

.option-p {
    font-size: 20px;
}

.option-img {
    margin-bottom: 20px;
}

.btn-block {
    width: 100%;
    margin-bottom: 5px;
    margin-left: 62px;
}

a {
    color: rgb(195, 194, 194);
    padding: 4px 5px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin: 4px 7px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(195, 194, 194);
    background: transparent;
    width: 20%;
}

a:hover {
    color: rgb(76, 160, 175);
    border-bottom: 2px solid rgb(76, 160, 175);
}

a.active {
    color: rgb(76, 160, 175);
    border-bottom: 2px solid rgb(76, 160, 175);
}

.list{
    width: 440px;
    height: 250px;
}
.listbox{
    overflow-y: auto;
    width: 350px;
    height: 120px;
    padding: 3px;
    padding: 3px 5px 3px 5px;
    border: 1px solid rgb(172, 169, 169);
}

.label-with-list{
    width: 300px;
    height: 15px;
    padding: 3px;
}

.btn-with-list{
    height: 24px !important;
    line-height: 20px !important;
    padding: 0 5px !important;
    min-width: 20px !important;
    width: 28px !important;
  }

  .margin-top-10{
    margin-top: 10px;
} 

.clock{
    width: 65px;
    height: 15px;
    padding: 3px;
}

.inline-block{
    display: inline-block !important;
}

#settings {
    height: 320px;
}